@require './palette.styl';

.el-link--inner {
    color: $accentColor;
}

.story-title {
    color: white;
    padding: 1rem;
}

.home-hero {
    background-color: $accentColor !important;
}

.content__default {
    h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
        content: '';
        margin-top: 1rem;
        display: block;
        height: 1rem;
    }
}