/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #654ea3
$secondaryColor = lighten(#654ea3, 20%)
$textColor = #2c3e50
$borderColor = rgba(0,0,0,.05)
$codeBgColor = darken(#654ea3, 70%)
$arrowBgColor = #ccc
